@model SignOutForm
@if(Model != null)
{
	<form asp-action="SignOut" asp-controller="Account" class="d-inline ml-2">
		<button autofocus="autofocus" class="btn btn-primary" type="submit">Yes</button>
	</form>
}